<footer class="ms-footer">
  <p>
    <small
      >© 2019 - <span id="fullYear">2020</span>
      <a href="mailto:unscriptedvn@marquiskurt.net">Marquis Kurt</a> |
      <a href="https://github.com/UnscriptedVN/mastina"
        >View theme on GitHub</a
      ></small
    >
  </p>
  <div>
    <ul class="ms-footer-links">
      <li><a href="https://twitter.com/UnscriptedVN">@UnscriptedVN</a></li>
      <li><a href="https://reddit.com/r/UnscriptedVN">r/UnscriptedVN</a></li>
      <li>
        <a href="https://unscriptedvn.dev/pages/privacy_policy/"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a href="https://github.com/UnscriptedVN/issues/issues/">Issues</a>
      </li>
      <li>
        <a href="/guidelines/">Guidelines</a>
      </li>
    </ul>
  </div>
</footer>
<script>
  document.getElementById("fullYear").innerText = new Date().getFullYear();
</script>
