<head>
  <title>
    {% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://unscriptedvn.dev/assets/css/modernscale.css"
  />
  <link
    rel="stylesheet"
    href="https://unscriptedvn.dev/assets/css/mastina.css"
  />
  <link rel="stylesheet" href="/css/beta.css" />
  <link rel="stylesheet" href="https://unscriptedvn.dev/assets/css/ayu.css" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="https://unscriptedvn.dev/assets/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="https://unscriptedvn.dev/assets/icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="https://unscriptedvn.dev/assets/icons/favicon-16x16.png"
  />
  <link
    rel="manifest"
    href="https://unscriptedvn.dev/assets/icons/site.webmanifest"
  />
  <link
    rel="mask-icon"
    href="https://unscriptedvn.dev/assets/icons/safari-pinned-tab.svg"
    color="#5bbad5"
  />
  <meta name="msapplication-TileColor" content="#ff0097" />
  <meta name="theme-color" content="#ffffff" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="article:author" content="© 2020 {{ site.author }}." />
  <meta
    property="og:description"
    content="Help test beta software for Unscripted."
  />
  <meta property="og:url" content="https://beta.unscriptedvn.dev/" />
  <meta
    property="og:image"
    content="https://unscriptedvn.dev/assets/icons/android-chrome-192x192.png"
  />
  <meta property="og:type" content="”website”" />
</head>
